@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {

}

body {
 
}


@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/my-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'MyCustomFont', sans-serif;
  }

  /* In your global CSS or SCSS file */
body {
    font-family: 'Roboto', sans-serif;
  }